@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Playfair+Display:wght@400;700&display=swap');

/* Estilos globais e do header (mantidos) */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f2f5;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  padding: 1.5rem 3rem;
  background-color: #121212;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  position: sticky;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
}

/* O link agora é um container flex para a imagem e o texto */
.logo-container a {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaçamento entre a imagem e o texto */
  text-decoration: none;
  transition: transform 0.3s ease;
}

.logo-container a:hover {
  transform: scale(1.05);
}

.logo-container img {
  height: 50px;
}

/* Estilização para o texto do logo */
.logo-text {
  font-family: 'Playfair Display', serif; /* Fonte sofisticada */
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff; /* A mesma cor de destaque */
  letter-spacing: 2px; /* Espaçamento entre as letras para um visual premium */
}

/* Estilos de navegação (mantidos) */
nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 2.5rem;
}

nav li a {
  text-decoration: none;
  color: #a0a0a0;
  font-size: 1.05rem;
  font-weight: 500;
  transition: color 0.3s ease;
  position: relative;
  padding: 0.5rem 0;
}

nav li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffc107;
  transition: width 0.3s ease-out;
}

nav li a:hover {
  color: #ffffff;
}

nav li a:hover::after {
  width: 100%;
}

.status-text {
  font-family: 'Playfair Display', serif;
  font-size: 0.70rem;
  margin-left: 1rem;
  margin-top: 5px;
  font-style: italic;
  font-weight: 400;
  color: #a0a0a0;
  transition: color 0.3s ease;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.status-text.success {
  color: #28a745;
}

.status-text.error {
  color: #dc3545;
}

.status-text.loading {
  color: #ffc107;
}

.status-indicator {
  display: none;
}